[user]
    name = CQD
    email = cqd@hiigara.net

[core]
    excludesfile = ~/.gitignore_global

[color]
        ui = auto
        status = auto
        branch = auto

[alias]
        ci = commit
        amend = commit --amend --no-edit
        co = checkout
        cs = checkout staging
        di = diff
        din = diff --name-only
        dist = diff --stat
        dicw = diff --color-words
        dic = diff --cached
        dinc = diff --name-only --cached
        distc = diff --stat --cached
        dicwc = diff --color-words --cached
        st = status
        sh = show
        shn = show --name-only
        shst = show --stat
        br = branch
        co = checkout
        rb = rebase
        rbi = rebase --interactive
        rbc = rebase --continue
        rba = rebase --abort
        cp = cherry-pick
        lg = log --graph --pretty=ol  --abbrev-commit --date=local
        lga = log --graph --pretty=ol --abbrev-commit --date=local --all
        sm = submodule update

        # update branch
        uu = "!f() { \
            remote=${1:-origin} \
            br=${2:-$(git branch-name)}; \
            git co $br && git pull $remote $br; \
        }; f"
        um = "!f() { git uu origin master; }; f"
        us = "!f() { git uu origin staging; }; f"

        fr = "!f(){ \
            branch=$(git rev-parse --abbrev-ref HEAD); \
            echo Fetch and reset to origin/$branch...; \
            git fetch origin $branch; \
            git reset origin/$branch --hard; \
        }; f"

        fc = "!f(){ \
            branch=${1:-master}; \
            echo Fetch and checkout to origin/$branch...; \
            git fetch origin $branch; \
            git checkout $branch; \
        }; f"

        cm = "!f(){ \
            git checkout master || \
            git checkout main || \
            echo 'Branch master/main not exist' && false ; \
        }; f"

[branch]
        autosetuprebase = always

[branch "master"]
        rebase = true

[pretty]
        ol = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold black)- %cn %Creset%Cgreen(%ar)%Creset

[init]
    defaultBranch = master

[gpg]
    program = gpg

[include]
    path = ~/.gitconfig_local

[includeIf "gitdir:~/work-repo/"]
    path = ~/work-repo/.gitconfig
