[core]
	excludesfile = ~/.gitignore_global

[commit]
    gpgsign = true

[color]
        ui = auto
        status = auto
        branch = auto

[alias]
        ci = commit
        co = checkout
        di = diff
        din = diff --name-only
        dist = diff --stat
        dicw = diff --color-words
        dic = diff --cached
        dinc = diff --name-only --cached
        distc = diff --stat --cached
        dicwc = diff --color-words --cached
        st = status
        sh = show
        shn = show --name-only
        shst = show --stat
        br = branch
        co = checkout
        rb = rebase
        rbc = rebase --continue
        rba = rebase --abort
        cp = cherry-pick
        lg = log --graph --pretty=ol  --abbrev-commit --date=local
        lga = log --graph --pretty=ol --abbrev-commit --date=local --all

        # update branch
        uu = "!f() { \
            remote=${1:-origin} \
            br=${2:-$(git branch-name)}; \
            git co $br && git pull $remote $br; \
        }; f"
        um = "!f() { git uu origin master; }; f"
        us = "!f() { git uu origin staging; }; f"

[branch]
        autosetuprebase = always

[branch "master"]
        rebase = true

[pretty]
        ol = format:%Cred%h%Creset -%C(yellow)%d%Creset %s %C(bold black)- %cn %Creset%Cgreen(%ar)%Creset
